<%- include("./partials/header.ejs") -%>
<div class="spinner">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
</div>
<nav
	class="navbar fixed-top navbar-expand-xl navbar-light"
	style="display: none"
>
	<a class="navbar-brand" href="#">
		<h4 class="head" style="font-weight: 700">
			WebDev<span style="font-weight: 300"> Solutions</span>
		</h4>
	</a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<i class="fas fa-bars"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item dropdown client">
				<a
					class="nav-link"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					Projects&nbsp;
					<i class="fas fa-chevron-down" style="font-size: 0.7rem"></i>
				</a>
				<div
					class="dropdown-menu animate__animated client animate__flipInX"
					aria-labelledby="navbarDropdown"
				>
					<a class="dropdown-item" href="/addproject"
						><i class="far fa-plus-square" style="font-size: 0.9rem"></i>
						&nbsp;&nbsp;Add Project Details</a
					>
					<a class="dropdown-item" href="/projectgo"
						><i class="fas fa-location-arrow" style="font-size: 0.9rem"></i>
						&nbsp;&nbsp;Go Project Section</a
					>
				</div>
			</li>
			<li class="nav-item dropdown client">
				<a
					class="nav-link"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<i class="fas fa-user-circle" style="font-size: 0.9rem"></i
					>&nbsp;&nbsp;Clients&nbsp;
					<i class="fas fa-chevron-down" style="font-size: 0.7rem"></i>
				</a>
				<div
					class="dropdown-menu animate__animated client animate__flipInX"
					aria-labelledby="navbarDropdown"
				>
					<a class="dropdown-item" href="/clientcreation"
						><i class="far fa-plus-square" style="font-size: 0.9rem"></i>
						&nbsp;&nbsp;Client's creation</a
					>
					<a class="dropdown-item" href="/clientsolution"
						><i class="far fa-lightbulb" style="font-size: 0.9rem"></i
						>&nbsp;&nbsp; Client's Solution</a
					>
					<a href="/newsletter" class="dropdown-item"
						><i class="fas fa-chart-line" style="font-size: 0.9rem"></i>
						&nbsp;&nbsp;Dashboard</a
					>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a
					class="nav-link"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<i
						class="fas fa-circle live"
						style="color: #34be82; font-size: 0.4rem"
					></i
					><i class="fas fa-bell"></i> &nbsp; Notification &nbsp;
					<i class="fas fa-chevron-down" style="font-size: 0.7rem"></i>
				</a>
				<div
					class="dropdown-menu animate__animated settings animate__flipInX"
					aria-labelledby="navbarDropdown"
				>
					<a class="dropdown-item" href="#"
						><i class="far fa-user" style="font-size: 0.9rem"></i>
						&nbsp;&nbsp; <%= user %>
					</a>
					<a class="dropdown-item" href="/myprojects"
						><i class="fas fa-swatchbook" style="font-size: 0.9rem"></i>
						&nbsp;&nbsp; My Projects
					</a>
					<a class="dropdown-item" href="/mycomments"
						><i class="far fa-comment-dots" style="font-size: 0.9rem"></i
						>&nbsp;&nbsp; My Comments</a
					>
				</div>
			</li>
			<li class="nav-item dropdown settings">
				<a
					class="nav-link"
					href="#"
					id="navbarDropdown"
					role="button"
					data-toggle="dropdown"
					aria-haspopup="true"
					aria-expanded="false"
				>
					<i class="fas fa-cog"></i> &nbsp; Settings &nbsp;
					<i class="fas fa-chevron-down" style="font-size: 0.7rem"></i>
				</a>
				<div
					class="dropdown-menu animate__animated settings animate__flipInX"
					aria-labelledby="navbarDropdown"
				>
					<button
						class="dropdown-item"
						type="button"
						data-target="#feedback"
						data-toggle="modal"
					>
						<i class="far fa-comment-dots" style="font-size: 0.9rem"></i
						>&nbsp;&nbsp;Feedback
					</button>
					<a class="dropdown-item" href="/logout"
						><i class="fas fa-power-off" style="font-size: 0.9rem"></i
						>&nbsp;&nbsp;Logout</a
					>
					<form action="/delete" method="POST">
						<button class="dropdown-item" type="submit" id="delete">
							<i class="far fa-trash-alt"></i>&nbsp;&nbsp;Delete Account
						</button>
					</form>
				</div>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link" id="date">Loading...</a>
			</li>
		</ul>
	</div>
</nav>
<div class="container-table" style="margin-top: 5rem; display: none">
	<h5 class="content-head"><b>Client Solution : </b></h5>
	<table id="example" class="table-bordered table-responsive">
		<thead class="table-blue">
			<tr>
				<th>Topic</th>
				<th>source</th>
				<th>Goal</th>
			</tr>
		</thead>
		<tbody>
			<% postArr.map((arr) => { %>
			<tr>
				<td><%= arr.title %></td>
				<td><a href="<%= arr.url %>" target="_blank">view</a></td>
				<td class="goal"><%= arr.goal %></td>
			</tr>
			<% }) %>
		</tbody>
	</table>
	<div class="arrow-fixed ml-a">
		<i class="fas fa-long-arrow-alt-up"></i>
	</div>
</div>
<div
	class="modal fade"
	id="feedback"
	tabindex="-1"
	role="dialog"
	aria-labelledby="exampleModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header" style="border-bottom: 0; padding-bottom: 0">
				<h5 class="content-modal-head">Get in touch with us</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<i class="far fa-times-circle"></i>
				</button>
			</div>
			<div class="modal-body pt-0">
				<form action="/feedback" method="POST">
					<p class="text-muted">Feel free to send us the message</p>
					<div class="form-group">
						<input
							type="text"
							name="name"
							placeholder="Your Name"
							id="name"
							class="form-control"
						/>
					</div>
					<div class="form-group">
						<textarea
							name="review"
							id="review"
							placeholder="Give us a feedback"
							class="form-control"
						></textarea>
					</div>
					<div class="form-group">
						<button button class="btn btn-green" id="submit" type="button">
							Send &nbsp;<i
								class="fas fa-external-link-alt"
								style="font-size: 0.9rem"
							></i>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
	$(document).ready(() => {
		$(".navbar-brand").click(() => {
			location.href = "/newsletter";
		});

		$(".arrow-fixed").fadeOut();
		$(".navbar").fadeIn();
		$(window).scroll(() => {
			if ($(this).scrollTop() > 40) {
				$(".arrow-fixed").fadeIn();
				$(".navbar").fadeOut();
			} else {
				$(".arrow-fixed").fadeOut();
				$(".navbar").fadeIn();
			}
		});

		setTimeout(() => {
			$(".spinner").css({ display: "none" });
			$(".navbar").css({ display: "flex" });
			$(".container-table").css({ display: "block" });
		}, 1000);

		$("#name").keypress((event) => {
			var char = String.fromCharCode(event.which);
			if (!/[a-z ]/.test(char)) {
				event.preventDefault();
			}
		});

		setInterval(() => {
			$("#date").html(
				`<i class="far fa-clock"></i> &nbsp;${new Date().getDate()} ${new Date().toLocaleDateString(
					"en-us",
					{
						month: "short"
					}
				)}, ${new Date().getFullYear()}  -  ${new Date().toLocaleTimeString()}`
			);
		}, 1000);

		$("#example").DataTable();
		if ($(document).width() < 450) {
			$("#example").addClass("table-responsive");
		} else {
			$("#example").removeClass("table-responsive");
		}

		$("#submit").attr("type", "button");

		$("#submit").click(() => {
			let name = $("#name").val();
			let review = $("#review").val();
			if (name == "") {
				Swal.fire("Oops", "Name cannot be empty", "warning");
			} else if (review == "") {
				Swal.fire("Oops", "Review cannot be empty", "warning");
			} else {
				Swal.fire("Hurrah!", "Successfully saved the feedback", "success");
				$("#submit").attr("type", "submit");
			}
		});

		$(".arrow-fixed").click(() => {
			$("html, body").animate({ scrollTop: 0 }, "slow");
		});
	});
</script>
<%- include('./partials/footer.ejs') -%>
