<%- include("./partials/header.ejs") -%>
<div class="spinner">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
</div>
<section class="mycomments" style="margin-top: 1rem; display: none">
	<div class="container-fluid" style="display: none">
		<h5 style="font-weight: bold">My Comments:</h5>
		<button
			class="btn btn-green btn-sm"
			class="back"
			style="position: absolute; right: 14px; top: 12px"
			onclick="history.go(-1);"
		>
			back
		</button>
	</div>
	<div class="row">
		<% comArr.map((arr) => { %>
		<div
			class="col-lg-1"
			style="
				display: flex;
				justify-content: center;
				align-items: flex-start;
				margin-top: 2rem;
			"
		>
			<div
				class="icn"
				style="
					width: 2.3rem;
					height: 2.3rem;
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;
					background-color: #3a55b1;
					color: #fff;
				"
			>
				<i class="far fa-comment-alt"></i>
			</div>
		</div>
		<div class="col-lg-10 container-project">
			<p><strong>From:</strong>&nbsp; <%= arr.from %></p>
			<p><strong>Title:</strong>&nbsp; <%= arr.title %></p>
			<p><strong>Comments:</strong>&nbsp; <%= arr.comments %></p>
		</div>
		<% }) %>
	</div>

	<div class="arrow-fixed ml-a">
		<i class="fas fa-long-arrow-alt-up"></i>
	</div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(document).ready(() => {
		$(".arrow-fixed").fadeOut();
		$(window).scroll(() => {
			if ($(this).scrollTop() > 40) {
				$(".arrow-fixed").fadeIn();
			} else {
				$(".arrow-fixed").fadeOut();
			}
		});

		setTimeout(() => {
			$(".spinner").css({ display: "none" });
			$(".container-fluid").css({ display: "block" });
			$(".mycomments").css({ display: "block" });
		}, 1000);

		$(".arrow-fixed").click(() => {
			$("html, body").animate({ scrollTop: 0 }, "slow");
		});
	});
</script>
<%- include('./partials/footer.ejs') -%>
